/*
 * Assignment 02
 * CSS FILE
 */


 html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dad7cd;
  
}

header {
  padding: 2rem;
  background-color: #588157;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: start;
  
}

.header-logo {
  display: flex;
  align-items: center;
}


.logo {
width: 2rem;
height: 2rem;
display: flex;
}

header h2 {
  margin-left: 1rem;
}

header nav {
  display: flex;
    
  align-items: center; 
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: space-between;
  list-style: none;
  padding:0.8rem
}

header nav ul li {
  margin-left: 2rem;

  
}

header nav ul li a {
  display:flex;
  color: #ffffff;
  text-decoration: none;  
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
  color: #242121;
  font-size: 1.5rem;

  min-width: 100%;
  min-height: 100%;
}
header nav ul li a:hover {
  color: #e3d2d4;
  text-decoration: underline;
}

.hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/277667/pexels-photo-277667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10rem;
}
.hero-container {
display: flex;
flex-direction: column;
color:#ffffff;
}
.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.hero-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.hero-container a {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #588157;
  margin-inline: 10rem;
  border-radius: 1rem;
}

.about {
  background-color: #588157;
  padding: 2rem;
}
.about-image{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 2rem;
  padding: 2rem;
  width: 60%;
  color: #ffffff;
  float: left;
  border-radius: 3rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  background-color: #DAD7CD;
  color: #3A5A40;
  border-radius: 1rem;
}
.about-text h2 {
  display: flex;
  margin-left: 2rem;
  padding: 1rem;
}
.about-text p {
  margin-left: 2rem;
  padding: 1rem
  
}

.background-transition{
  background: rgb(88,129,87);
  background: linear-gradient(180deg, rgba(88,129,87,1) 0%, rgba(163,177,138,1) 35%, rgba(218,215,205,1) 100%); 
  text-align: center;
  padding: 8rem;
  
}
.vertical-line {
  
  border-left: thick solid #344E41;

} 
.services {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: 2rem;
  box-shadow: 0 3px 1rem #344E41;
}
.product-container img {
  width: 100%;
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.product-text {
  padding: 1rem;
}
.product-text h2 {
  font-size: 1rem;
  color:#3A5A40;
}
.product-text h3 {
  font-size: 2rem;
  color:#344E41;
}
.product-text p {
  font-size: 1rem;
  color:#344E41;
}
.product-text h4 {
  font-size: 3rem;
  color:#3A5A40;
}
.product-text a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #344E41;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}

h3 {
  text-align: center;
}
.area-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.area-map {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 2rem;
  padding: 2rem;
}
.area-map img{
  height: 75%;
}
.horizontal-line {
  border-bottom: thick solid #A3B18A;
  margin: 5rem;
}



