/*
 * Assignment 02
 * CSS FILE
 */


 html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dad7cd;
  
}


header {
  padding: 2rem;
  background-color: #588157;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: start;
  
}

.header-logo {
  display: flex;
  align-items: center;
}


.logo {
width: 2rem;
height: 2rem;
display: flex;
}

header h2 {
  margin-left: 1rem;
}

header nav {
  display: flex;
    
  align-items: center;
  
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: space-between;
  list-style: none;
  padding:0.8rem
  
  
  
}

header nav ul li {
  margin-left: 2rem;

  
}

header nav ul li a {
  display:flex;
  color: #ffffff;
  text-decoration: none;  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
  color: #242121;
  font-size: 1.5rem;

  min-width: 100%;
  min-height: 100%;
}
header nav ul li a:hover {
  color: #e3d2d4;
  text-decoration: underline;
}

.hero {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/277667/pexels-photo-277667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10rem;
}
.hero-container {
display: flex;
flex-direction: column;
color:#ffffff;
}
.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.hero-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.hero-container a {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #588157;
  margin-inline: 10rem;
  border-radius: 1rem;
}

.about {
  background-color: #588157;
  padding: 2rem;
}
.about-image{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 2rem;
  padding: 2rem;
  width: 60%;
  color: #ffffff;
  float: left;
  border-radius: 3rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  background-color: #DAD7CD;
  color: #3A5A40;
  border-radius: 1rem;
}
.about-text h2 {
  display: flex;
  margin-left: 2rem;
  padding: 1rem;
}
.about-text p {
  margin-left: 2rem;
  padding: 1rem
  
}

.background-transition{
  background: rgb(88,129,87);
  background: linear-gradient(180deg, rgba(88,129,87,1) 0%, rgba(163,177,138,1) 35%, rgba(218,215,205,1) 100%); 
  text-align: center;
  padding: 10rem;
  margin-bottom: 10rem;
}


.services-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  color: #DAD7CD; 
}

.service-images {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  background-color: #A3B18A;
  border-radius: 1rem;
}